* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(110, 92, 92, 0.267), rgba(0, 0, 0, 0.75)), url('../../../assets/backgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link:hover {
    background-color: rgb(241, 241, 112);
    width: 100%;
}

.dropdown-item:hover {
    background-color: rgb(241, 241, 112);
    width: 100%;
}

.main-content {
    margin-left: 200px; /* Width of the sidebar */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40; /* Bootstrap dark background color */
    padding-top: 20px;
    color: white;
}

.carousel-item img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block; 
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    display: block;
    height: auto;
    color: white;
}